<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="/GUI-Files/assets/news.png" type="image/png">
    <title>News Scraper</title>
</head>
<body>
    <div id="app">

        <nav-bar @pass-term="getNews"></nav-bar>
        <card
        v-for="(item, index) in data"
        :key="index"
        :img="data[index].Image"
        :link="data[index].Link"
        :head="data[index].Headline"
        ></card>

        <!-- <loader></loader> -->

    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        let app = Vue.createApp({
            data() {
                return {
                    temp: 'Coming Soon',
                    imgData: 'Image',
                    headData: 'Headline',
                    data: '',
                    loading: false
                }
            },
            methods: {
                async getNews(term) {
                    const response = await fetch(`http://127.0.0.1:5000/getNews/${term}`)
                    const tempData = await response.json()
                    this.data = tempData.processedData
                    console.log(this.data[0].Headline)
                }
            }
        })

        app.component('nav-bar', {
            template: `
            <div id="nav-div">
                <ul>
                    <li><a href="">News Scraper</a></li> 
                    <form>
                        <li><input type="text" placeholder="Search Term" v-model="searchTerm"></li> 
                        <button @click.prevent="passTerm">Search</button>
                    </form>
                </ul>    
            </div>
            `,
            data() {
                return {
                    searchTerm: ''
                }
            },
            methods: {
                passTerm() {
                    this.$emit('pass-term', this.searchTerm)
                }
            }
        })

        app.component('card', {
            template: `
                <a :href="link" id="card-link" target="_blank">
                    <div id="card-div">
                        <div id="card-img">
                            <img :src="img" alt="Image">    
                        </div>   

                        <div id="card-headline">
                            <p>{{ head }}</p>    
                        </div>    
                    </div>
                </a>
            `,
            props: ['link', 'img', 'head'],
            data() {
                return {
                }
            }
        })

        app.component('loader', {
            template: `
                <div id="loading-gif">
                </div>
            `
        })

        app.mount('#app')
    </script>
</body>
</html>