@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

#nav-div {
    background-color: grey;
    font-family: "Montserrat", sans-serif;
}

#nav-div > ul {
    background-color: rgb(88, 115, 143);
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 20px 20px;
    
}

#nav-div > ul > li > a {
    text-decoration: none;
    color: white;
}

#nav-div > ul > form {
    display: flex;
    flex-direction: row;
}

#nav-div > ul > form > li > input{
    flex-grow: 2;
    border: none;
    padding: 8px;
    width: 200px;
}

#nav-div > ul > form > li > input:focus{
    outline: none;
}


#nav-div > ul > form > button{
    background-color: rgb(255, 210, 112);
    border: 0px;
    color: white;
    padding: 0px 5px 0px 5px;
    font-weight: bold;
}

#nav-div > ul > form > button:hover{
    background-color: rgb(167, 167, 255);
    transition: 0.2s ease;
    cursor: pointer;
}

#card-div {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: black;
    font-family: "Montserrat", sans-serif;
}

#card-img > img {
    width: 250px;
    height: 300px;
}

#card-headline {
    width: 250px;
    height: 100px;
    padding-bottom: 10px;
}

#card-headline > p {
    margin: 10px 10px 0px 0px;
    padding: 0px 0px 0px 10px;
    font-size: ;
}

#card-link {
    text-decoration: none;
    color: white;
    float: left;
    margin: 10px 0px 0px 35px;
}